@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-paper text-ink font-sans antialiased;
  }

  * {
    @apply border-border;
  }
}

